.wrapper {
    padding: 15px;
}

.wrapper:nth-child(odd) {
    background-color: rgba(100, 120, 200, 0.2);
}

.wrapper:nth-child(even) {
    background-color: rgba(200, 150, 100, 0.2);
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.timeSlots {
}
